$brand: #ee6363
$brand-highlight: #fcc28d
$text: #fafeff

$light-background: #22282e
$dark-background: #1c1f23
$background-haze: #23272B
$inactive-button: #637280

$calendex: #38cda1
$calendex-background: #222E38
$calendex-cover: #203935

$language: #9877b1
$language-background: #2e303b
$language-cover: #2f2c37

$figma1: #f24e1e
$figma2: #ff7262
$figma3: #a259ff
$figma4: #1abcfe
$figma5: #0acf83

$github: #a259ff
$website: #1abcfe
$appstore: #2071f3
$linkedin: #0077b7
$mail: #ee6363

$theme-map: (brand: $brand, calendex: $calendex, language: $language)
$project-map: (calendex: $calendex, language: $language)
$project-cover-map: (calendex: $calendex-cover, language: $language-cover)
$link-map: (figma1: $figma1, figma2: $figma2, figma3: $figma3, figma4: $figma4, figma5: $figma5, github: $github, website: $website, appstore: $appstore, linkedin: $linkedin, mail: $mail)

@mixin shadow-colors($inset: 0, $map: $theme-map)
    @each $name, $hex in $map
        &.#{$name}
            text-shadow: $hex $inset $inset

@mixin background-colors($map: $theme-map)
    @each $name, $hex in $map
        &.#{$name}
            background-color: $hex

@mixin colors($map: $theme-map)
    @each $name, $hex in $map
        &.#{$name}
            color: $hex

@mixin borders($width: 0, $map: $theme-map)
    @each $name, $hex in $map
        &.#{$name}
            border: $width solid $hex




