@use 'colors'

$roboto: italic normal, 'Roboto'
$racing-sans-one: bold, 'Racing Sans One'

@mixin header($size: 1rem, $color: colors.$text, $shadow: transparent)
    font-family: $racing-sans-one
    font-size: $size
    color: $color
    text-shadow: $shadow .0392em .0392em

@mixin text($size: 1rem, $color: colors.$text)
    font: $roboto
    font-size: $size
    color: $color
    