#projects {
  height: fit-content;
  width: 100%;
  background-color: #22282e;
  grid-area: 3/1/4/4;
  display: grid;
  grid-template-rows: 1fr;
  font-size: 1rem;
}
@media only screen and (orientation: portrait) {
  #projects {
    grid-area: 3/1/4/2;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1040px) {
  #projects {
    grid-area: 3/1/4/4;
  }
}

#projects-background {
  grid-area: 1/1/2/4;
}
@media only screen and (orientation: portrait) {
  #projects-background {
    grid-area: 1/1/2/2;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1040px) {
  #projects-background {
    grid-area: 1/1/2/4;
  }
}

#projects-content {
  grid-area: 1/2/2/3;
  height: fit-content;
  justify-self: center;
  margin-top: 3.5em;
  z-index: 1;
}
@media only screen and (orientation: portrait) {
  #projects-content {
    grid-area: 1/1/2/2;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1040px) {
  #projects-content {
    grid-area: 1/1/2/4;
  }
}

.projects-triangle-container {
  position: relative;
}
.projects-triangle-container.bottom {
  transform: scaleY(-1);
}

.projects-triangle-box {
  height: 8.8541665vw;
  overflow: hidden;
  background-color: #1c1f23;
}
.projects-triangle-box.outer {
  display: inline-block;
  width: 50%;
  transform: scaleY(-1);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.projects-triangle-box.inner {
  position: absolute;
  width: 100%;
  top: 0.25em;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.projects-triangle-box.right {
  transform: scaleY(-1) scaleX(-1);
}

.center {
  margin: auto;
}

#projects-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: calc(10em - 8vw) 0;
  background-color: #1c1f23;
}

#projects-content-grid {
  display: grid;
  width: 100%;
  height: fit-content;
  flex-basis: 33em;
}
#projects-content-grid.no-showcase {
  transition: flex-basis 1s 1.3s;
  flex-basis: 33em;
}
#projects-content-grid.showcase {
  transition: flex-basis 0.6s 0s !important;
  flex-basis: 47em;
}
@media only screen and (orientation: portrait) {
  #projects-content-grid.showcase {
    flex-basis: 65.4375em;
  }
}
@media only screen and (max-width: 1391px) {
  #projects-content-grid {
    flex-basis: 52.375em;
  }
}
@media only screen and (max-width: 767px) {
  #projects-content-grid {
    flex-basis: 106.25em;
  }
}
@media only screen and (max-width: 400px) {
  #projects-content-grid {
    flex-basis: 79.625em;
  }
}

.gallery-swipe {
  overflow: hidden;
}
.gallery-swipe::after {
  position: absolute;
  left: 0;
  right: 140%;
  top: 0;
  bottom: 0;
  content: " ";
  background-image: linear-gradient(to right, transparent 70%, #1c1f23 100%);
}
.gallery-swipe.showcase::after {
  right: -40%;
  transition: right 0.6s ease-in-out 1s;
}
.gallery-swipe.no-showcase::after {
  right: 140%;
  transition: right 0.6s ease-in-out 0.7s, background-color 0s 1.3s;
}
.gallery-swipe.calendex::after {
  background-color: #203935;
}
.gallery-swipe.language::after {
  background-color: #2f2c37;
}

#gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23.55em, 24em));
  row-gap: 1.5em;
  justify-content: center;
  align-content: center;
  max-height: fit-content;
}
#gallery-container * {
  justify-self: center;
}

#showcase-switcher {
  grid-area: 1/2/2/3;
}
@media only screen and (orientation: portrait) {
  #showcase-switcher {
    grid-area: 1/1/2/2;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1040px) {
  #showcase-switcher {
    grid-area: 1/1/2/4;
  }
}
@media only screen and (max-width: 400px) {
  #showcase-switcher {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=Projects.css.map */
