@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

.about {
    height: 100vh;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.description-container {
    flex-basis: 60%;
}

.description {
    color: #FAFEFF;
    font-family: 'Roboto';
    font-size: 12pt;
    margin-left: 15px;
}