#back-button-box {
    width: 1.9167em;
    height: 1.167em;
    position: fixed;
    top: 2em;
    left: 1.25em;
    z-index: 1002;
}

#back-button-box:hover {
    cursor: pointer;
}

#back-button-box.closed {
    visibility: hidden;
    opacity: 0;
    transform: rotate(90deg) translateY(1em);
    transition: all .6s .2s;
}

#back-button-box.open {
    visibility: visible;
    opacity: 1;
    transform: rotate(90deg) translateY(0em);
    transition: all .6s 1s;
}

#back-button.brand {
    fill: #FAFEFF;
    stroke: #FAFEFF;
}

#back-button.calendex {
    fill: #38CDA1;
    stroke: #38CDA1;
}