#back-button-sizer {
    width: 2.833em;
    height: 1.3em;
    font-size: 1.5rem;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 1002;

    visibility: hidden;
    opacity: 0;
    transition: all .6s .2s;
}

#back-button-sizer:hover {
    cursor: pointer;
}

#back-button-sizer.open {
    visibility: visible;
    opacity: 1;
    transition: opacity .6s 1s;
}

#back-button.brand {
    fill: #FAFEFF;
    stroke: #FAFEFF;
}

#back-button.calendex {
    fill: #38CDA1;
    stroke: #38CDA1;
}