#back-button-box {
    width: 1.9167em;
    height: 1.167em;
    font-size: 1.5rem;
    transform: rotate(90deg);
}

#back-button-box:hover {
    cursor: pointer;
}

#back-button-box.closed {
    visibility: hidden;
    opacity: 0;
    transform: rotate(90deg) translateY(1em);
    transition: all .6s .2s;
}

#back-button-box.open {
    visibility: visible;
    opacity: 1;
    transform: rotate(90deg) translateY(0em);
    transition: all .6s 1s;
}

#back-button-box.showcase {
    visibility: visible;
    opacity: 1;
    transition: all .6s 1s;
}

#back-button.brand {
    fill: #FAFEFF;
    stroke: #FAFEFF;
}

#back-button.calendex {
    fill: #637280;
    stroke: #637280;
}