/*1rem*/

@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

.showcase-container {
    position: relative;
    z-index: 998;

    display: grid;
    grid-template-rows: 3fr 9fr;
    grid-template-columns: .3fr 2fr 2fr 1fr;
    grid-area: 1 / 2 / 2 / 3; 

    font-size: 1rem;

    visibility: hidden;
    opacity: 0;
    transition: all .4s 0s;

    align-self: center;
}

.showcase-container.showcase.calendex {
    visibility: visible;
    opacity: 1.0;
    transition: opacity .8s 2.4s;
}

.showcase-back-button {
    width: 2.875em;
    height: 1.75em;
    transform: rotate(90deg);
}

.showcase-back-button-layout {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
}

.content-layout {
    grid-area: 2 / 2 / 3 / 3;
}

.showcase-layout {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
}

.links-layout {
    grid-area: 2 / 4 / 3 / 5
}

.content-description {
    width: 100%;
    margin-left: .7617em;
    font-family: 'Roboto';
    color: #FAFEFF;
    font-size: .8125em;
}