@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

.showcase-container {
    position: fixed;
    top: 5em;
    left: 5em;
    z-index: 998;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    font-size: 1.5rem;

    visibility: hidden;
    opacity: 0;
    transition: all .6s .2s;
}

.showcase-container.showcase.calendex {
    visibility: visible;
    opacity: 1.0;
    transition: opacity .6s 1s;
}

.content-container {
    grid-area: 1 / 2 / 2 / 3
}

.content-description {
    width: 80%;
    margin-left: 15px;
    font-family: 'Roboto';
    color: #FAFEFF;
    font-size: .54167em;
}