/* Color Classes */
.BrandColor {
    background-color: #F58C8C;
}

.CalendexColor {
    background-color: #38CDA1;
}

.GithubColor {
    fill: #A259FF;
}

.WebsiteColor {
    fill: #1ABCFE;
}


/* Text Shadow Classes */
.BrandShadow3x3 {
    text-shadow: 3px 3px #F58C8C;
}

.BrandShadow2x2 {
    text-shadow: 2px 2px #F58C8C;
}

.CalendexShadow2x2 {
    text-shadow: 2px 2px #38CDA1;
}