/* Color Classes */
.brand-color {
    background-color: #EE6363;
}

.calendex-color {
    background-color: #38CDA1;
}

.github-color {
    fill: #A259FF;
}

.website-color {
    fill: #1ABCFE;
}


/* Text Shadow Classes */
.brand-shadow-3x3 {
    text-shadow: 3px 3px #EE6363;
}

.brand-shadow-2x2 {
    text-shadow: 2px 2px #EE6363;
}

.calendex-shadow-2x2 {
    text-shadow: 2px 2px #38CDA1;
}