@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

#contact {
    height: calc(100vh - 3.35em);
    background-image: linear-gradient(to top, #23272B 5%, #1C1F23 60%);
    grid-area: 4 / 1 / 5 / 5;
    display: grid;
}

#contact-contents {
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 2.5em;
}

.contact-form {
    margin-top: 1em;
    margin-left: 15px;
}

.form-group {
    margin-bottom: 1em;
}

.form-label {
    display: block;
    font-family: 'Racing Sans One';
    font-size: 1.291em;
    color: #FAFEFF;
}

.form-style {
    background-color: #1C1F22;
    border-radius: .4167em;
    font-family: 'Roboto';
    color: #FAFEFF;
    padding: .7em;
    border: none;
}

.form-border {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(to right, #E26E6E 50%, #FCC28D 95%);
    padding: .0625em;
    font-size: .7em;
    border-radius: .4167em;
}

.form-style:focus {
    outline: none;
}

.line-form {
    width: 20em;
}

.area-form {
    width: 20em;
    height: 100%;
    margin-bottom: -4.4px;
    resize: none;
}

.send-message-layout {
    width: fit-content;
    margin: 0 auto;
}