@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

#contact {
    height: calc(100vh - 7.125em);
    background-color: #1C1F23;
    grid-area: 4 / 1 / 5 / 5;
    display: grid;
}

#contact-contents {
    grid-area: 1 / 2 / 2 / 3;
}

.contact-form {
    margin-top: 1em;
}

.form-group {
    margin-bottom: 1em;
}

.form-label {
    display: block;
    font-family: 'Racing Sans One';
    font-size: 1.291em;
    color: #FAFEFF;
}

.form-style {
    background-color: #1C1F22;
    border: .0416em solid #F58C8C;
    border-radius: .4167em;
    font-family: 'Roboto';
    color: #FAFEFF;
    font-size: .7em;
    padding: .7em;
}

.form-style:focus {
    outline: none;
}

.line-form {
    width: 20em;
}

.area-form {
    width: 20em;
    height: 3em;
}

.submit-button {
    font-family: 'Racing Sans One';
    font-size: 1.291em;
    color: #FAFEFF;
    background-color: #F58C8C;
    border: .0416em solid #F58C8C;
    border-radius: .2em;
    padding: .2em;
    box-sizing: border-box;
    transition: all .2s 0s;
}

.submit-button:hover {
    background-color: #22282E;
    transition: all .2s 0s;
}