@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

#header-container {
  width: fit-content;
}

#content-title {
    color: #FAFEFF;
    font-family: 'Racing Sans One';
    font-size: 38pt;
    pointer-events: none;
    display: inline-block;
  }

#content-underline {
    height: 3px;
    border: none;
    margin: 0px;
    transform: skew(-12deg);
 }

.extra-padding {
    padding-left: 15px;
    padding-right: 15px;
}