@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

#contact {
    height: calc(100vh - 5.025em);
    max-height: fit-content;
    background-image: linear-gradient(to top, #23272B 5%, #1C1F23 60%);
    grid-area: 4 / 1 / 5 / 5;
    display: grid;
    font-size: 1rem;
}

#contact-contents {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 3.75em;

    gap: max(2em, 5vw);
}

.contact-form {
    margin-top: 1.5em;
    margin-left: .9375em;
}

.form-group {
    margin-bottom: 1.5em;
    width: 21.525em;
}

.form-label {
    display: block;
    font-family: 'Racing Sans One';
    font-size: 1.9375rem;
    color: #FAFEFF;
}

.no-show .form-label {
    opacity: 0;
    transform: translateX(-.9375em);
}

.show-init .form-label {
    opacity: 100;
    transform: translateX(0);
    transition: all .4s cubic-bezier(.15,-0.01,.69,.07) 1.25s;
}

.form-style {
    width: 20rem;
    background-color: #1C1F22;
    border-radius: .4167rem;
    font-family: 'Roboto';
    color: #FAFEFF;
    padding: .7rem;
    border: none;
}

.no-show .form-style {
    opacity: 0;
}

.show-init .form-style {
    opacity: 100%;
    transition: opacity .4s ease-out 1.45s;
}

.form-border {
    display: block;
    width: 0;
    height: fit-content;
    background: linear-gradient(to right, #E26E6E 50%, #FCC28D 95%);
    padding: .0625em;
    border-radius: .4167em;
}

.no-show .form-border {
    opacity: 0;
}

.show-init .form-border {
    opacity: 100;
    width: 21.4em;
    transition: width .9s cubic-bezier(.05,.11,0,.7) .5s, opacity .05s linear .5s;
}

.form-style:focus {
    outline: none;
}

.area-form {
    margin-bottom: -4px;
    resize: none;
}

.send-message-layout {
    width: fit-content;
    margin: 0 auto;
}

@media only screen and (orientation: portrait) {
    #contact {
        height: fit-content;
        justify-self: center;
        width: 100%;
        grid-area: 4 / 1 / 5 / 2;
    }
    
    #contact-contents {
        flex-direction: column;
        justify-items: flex-end;
        justify-self: center;
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 1em;

        gap: 0;
    }

    .contact-header {
        text-align: center;
    }

    .contact-form {
        margin-left: 0;
    }

    .form-group {
        margin-left: auto;
        margin-right: auto;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    #contact .links-container {
        margin-top: 0em;
    }
}

@media only screen and (max-width: 400px) {
    .form-group {
        width: 17.525rem;
    }

    .form-style {
       width: 16rem;
    }

    .show-init .form-border {
        width: 17.4rem;
    }
}


@media only screen and (max-width: 320px) {
    .contact-form {
        margin: 0 auto;
    }

    .form-group {
        width: 16.525rem;
    }

    .form-style {
       width: 15rem;
    }

    .show-init .form-border {
        width: 16.4rem;
    }
}