.initials-sizer {
    width: 53px;
    height: 57px;
}

.initials-pos {
    position: fixed;
    right: 1em;
    top: 1em;
    font-size: 1.5rem;
}

#closed-initials {
    z-index: 999;
}

#open-initials {
    z-index: 1001;
    transition: opacity .6s .2s;
}

#open-initials.closed {
    opacity: 0;
}

#open-initials.open {
    opacity: 100%;
    transition: opacity .6s 1s;
}

.initials-shadow.brand {
    fill: #E26E6E;
}

#open-initials .initials-shadow.calendex {
    fill: #38CDA1;
}