.initials-sizer {
    width: 53px;
    height: 57px;
}

.initials-pos {
    position: fixed;
    right: 1em;
    top: 1em;
    font-size: 1.5rem;
}

#open-initials.open {
    right: calc(1em + 8px);
}

#open-initials.closed {
    right: calc(1em + 8px);
}

#closed-initials {
    z-index: 999;
}

#open-initials {
    z-index: 1001;
    transition: opacity .2s .2s;
}

#open-initials.closed {
    opacity: 0;
}

#open-initials.open {
    opacity: 100%;
    transition: opacity .2s .6s;
}