/*1rem*/

@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

#footer {
    background-color: #22282E;
    grid-area: 5 / 1 / 6 / 4;
    font-size: 1rem;
    height: 5em;

    border-top: 5px solid #E26E6E;
}

#footer-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#footer-initials-logo.layout {
    height: fit-content;
    margin: auto;
}

.footer-link {
    display: inline-block;
    font-family: 'Racing Sans One';
    font-size: 1.9365em;
    width: 4.5em;
    text-align: center;

    margin: auto;

    color: #FAFEFF;
    text-shadow: #E26E6E 1px 1px;
    cursor: pointer;
}