#footer {
    background-color: #22282E;
    border-top: .125em solid #EE6363;
    
    grid-area: 5 / 1 / 6 / 4;
    height: 5em;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-content: center;   
}

#footer-initials-logo.layout {
    height: fit-content;
    margin: auto;
}

.footer-link {
    display: inline-block;
    font-family: 'Racing Sans One';
    font-size: 1.9375em;
    width: 4.5em;
    text-align: center;
    text-decoration: none;

    margin: auto;

    color: #FAFEFF;
    text-shadow: #EE6363 .0323em .0323em;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .footer-link {
        display: none;
    }
}