#headshot-container {
    position: relative;
    height: 18.3423em;
}

.grad-photo-background {
    width: 13.3116em;
    border-radius: .75em;
    background-color: #EE6363;
    background: linear-gradient(to top left, #FCC28D, #EE6363 45%);
    
    transition: height 1s cubic-bezier(.82,0,.16,.96) .55s, transform 1s cubic-bezier(.82,0,.16,.96) .85s;
}

.no-show .grad-photo-background{
    height: 0;
    transform: translateY(30%);
}

.show-init .grad-photo-background {
    transform: translateY(0);
    height: 18.3423em;
}

.grad-photo {
    position: absolute;
    width: 13.3116em;
    box-sizing: border-box;
    height: fit-content;
    object-fit: contain;
    border-radius: .75em;
    border: .625em solid #FAFEFF;
}

.no-show .grad-photo{
    top: 0;
    left: 0;
    opacity: 0;
}

.show-init .grad-photo {
    top: -.625em;
    left: -.625em;
    opacity: 100;
    transition: opacity .3s ease-out 1.55s, left .5s ease-out 1.55s, top .5s ease-out 1.55s;
}