#headshot-container {
    position: relative;
    font-size: 1rem;
}

.grad-photo-background {
    width: 13.3116em;
    height: 0;
    border-radius: .75em;
    background-color: #E26E6E;
    background: linear-gradient(to top left, #FCC28D, #E26E6E 45%);

    transform: translateY(30%);
    transition: height .8s cubic-bezier(.82,0,.16,.96) .55s, transform .8s cubic-bezier(.82,0,.16,.96) .85s;
}

.show-init .grad-photo-background {
    transform: translateY(0);
    height: 18.3423em;
}

.grad-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.0615em;
    height: fit-content;
    object-fit: contain;
    border-radius: .75em;
    border: .625em solid #FAFEFF;
    opacity: 0;
}

.show-init .grad-photo {
    top: -.625em;
    left: -.625em;
    opacity: 100;
    transition: opacity .2s ease-out 1.35s, left .4s ease-out 1.35s, top .4s ease-out 1.35s;
}