/*1rem*/

#ios-showcase {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

#showcase-screen {
    display: flex;
}

.showcase-chevron-layout {
    margin: auto .75em;
    justify-self: center;
}

.showcase-chevron {
    width: 2.875em;
    height: 1.75em;
}

.showcase-chevron.left {
    transform: rotate(90deg);
}

.showcase-chevron.right {
    transform: rotate(-90deg);
}

.showcase-border {
    width: 12.1875em;
    height: 26.3745em;
    border: .125em solid #38CDA1;
    border-radius: .625em; 
    overflow: hidden;
}

#showcase-image-list {
    display: flex;
    flex-wrap: nowrap;
    transition: transform .4s ease-out;
}

.showcase-photo {
    object-fit: contain; 
    width: 12.1875em;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}