@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

.link {
    width: fit-content;
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-text {
    display: inline;
    color: #FAFEFF;
    font-family: 'Roboto';
    font-size: 1.0833em;
    margin-left: 15px;
    margin-bottom: 6px;
    position: relative;
    pointer-events: none;
    transition: text-shadow .2s;
}

.large-link-box {
    width: 2.4167em;
    height: 2.4167em;
}

.large-link-box.figma {
    width: 1.619189em;
    height: 2.4167em;
    margin-left: .39844em; 
}

.figma-text {
    margin: 0;
}

.link:hover .figma1 {
    text-shadow: 1px 1px #F24E1E;
}

.link:hover .figma2 {
    text-shadow: 1px 1px #FF7262;
}

.link:hover .figma3 {
    text-shadow: 1px 1px #A259FF;
}

.link:hover .figma4 {
    text-shadow: 1px 1px #1ABCFE;
}

.link:hover .figma5 {
    text-shadow: 1px 1px #0ACF83;
}

.link:hover .github {
    text-shadow: 1px 1px #A259FF;
}

.link:hover .website {
    text-shadow: 1px 1px #1ABCFE;
}

.link:hover .appstore {
    text-shadow: 1px 1px #2071F3;
}

.link:hover .linkedin {
    text-shadow: 1px 1px #0077B7;
}