.MenuContainer {
    width: 6%;
    float: left;
}

.IconContainer {
    width: inherit;
    height: fit-content;
    margin: 0
}

.menuIcon {
    display: block;
    margin: 50px auto;
    transform: scale(1.2);
    fill: #637280;
}

.menuIcon:hover {
    fill: #F58C8C
}

.selected {
    fill: #F58C8C;
}