.nav-button {
    position: fixed;
    left: 1em;
    top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    width: fit-content;
    height: 1.25em;
    z-index: 1001;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-line {
    width: 2.5497em;
    height: .07497em;
    translate: skew(12deg);
}

.nav-line.closed {
    background-color: #F58C8C;
    transition: all .6s .2s;
}
.nav-line.open {
    background-color: #FAFEFF;
    transition: all .6s 1s;
}