.nav-button {
    position: fixed;
    left: 1em;
    top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    width: fit-content;
    height: 1.25em;
    z-index: 999;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-line {
    width: 2.9167em;
    height: .2083em;
}

.nav-line {
    opacity: 1;
    background-color: #637280;
    transform: skew(11.3deg);
    transition: all .2s 0s;
}

.nav-button:hover .nav-line {
    background-color: #FAFEFF;
    box-shadow: .125em .0833em #E26E6E;
    transform: translate(-.125em, -.0833em);
}

.nav-line.open {
    opacity: 0;
}