#nav-page {
    font-size: 1rem;
    position: fixed;
    left: 7em;
    top: 7em;
    z-index: 1001;
    visibility: hidden;
}

#nav-page.open {
    visibility: visible;
    transition: 0s 1s;
}

#nav-contents {
    position: relative;
    z-index: 1001;
    display: flex;
    
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;

    visibility: hidden;
    opacity: 0;
    transition: all .6s .2s;
}

.open #nav-contents {
    visibility: visible;
    opacity: 1.0;
    transition: opacity .6s 1s;
}

.nav-spacer {
    margin: .3em 0;
}

.nav-back-button.layout {
    position: fixed;
    top: 2em;
    left: 1.25em;
    z-index: 1002;
}

.nav-initials-logo.layout {
    position: fixed;
    right: 1.5em;
    top: 1.5em;
}

.closed .nav-back-button {
    transform: translateX(-2em);
    transition: transform .6s .2s;
}
.open .nav-back-button {
    transform: translateX(0);
    transition: transform .6s 1s;
}

.nav-header {
    font-family: 'Racing Sans One';
    font-size: 5em;
    color: #FAFEFF;
    margin: 0;
}

.nav-menu-bttn-container {
    position: relative;
    width: 5.5em;
    height: fit-content;
    border-radius: .15em;
    padding: .03em 0;
    font-size: 3.75em;
}

.nav-menu-bttn-container:hover {
    cursor: pointer;
}

.nav-menu-bttn {
    position: absolute;
    top: 0;
    background-color: #FAFEFF;
    width: inherit;
    height: 100%;
    border-radius: .15em;
    overflow: hidden;
}

.nav-menu-bttn-text {
    position: relative;
    display: block;
    font-family: 'Racing Sans One';
    text-align: center;
    color: #EE6363;
    text-decoration: none;
}

.nav-bttn {
    position: relative;
    font-family: 'Racing Sans One';
    font-size: 3.75em;
    background-color: #FAFEFF;
    color: #EE6363;
    border: none;
    outline: none;
    padding: .03em 0;
    border-radius: .15em;
    width: 5.5em;
}

.nav-menu-bttn::before {
    position: absolute;
    display: block;
    left: 100%;
    width: 5.5em;
    height: fit-content;
    border-radius: inherit;

    background-color: transparent;
    background-image: linear-gradient(-75deg, #FCC28D, #FAFEFF 95%);

    content: ".";
    color: transparent;

    opacity: 0;
    transition: opacity .3s 0s, left .6s 0s;
}

.nav-menu-bttn-container:hover .nav-menu-bttn::before {
    opacity: 1;
    left: 0;
}

#nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.closed #nav-menu {
    transform: translateX(-2em);
    transition: transform .6s .2s;
}

.open #nav-menu {
    transform: translateX(0);
    transition: transform .6s 1s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closed #nav-links {
    transform: translateX(2em);
    transition: transform .6s .2s;
}

.open #nav-links {
    transform: translateX(0);
    transition: transform .6s 1s;
}

#nav-divider {
    height: inherit;
    width: .15em;
    margin: 0 4em;
    background-color: #FAFEFF;
}

#nav-link-resume {
    text-align: center;
    pointer-events: none;
}

#link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav-links-spacer {
    width: 4.95em;
    height: 4.95em;
}

@media only screen and (max-width: 1080px) {
    #nav-page {
        font-size: .8em;
        overflow-y: auto;
        left: 0;
        right: 0;
    }

    #nav-contents {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    #nav-menu {
        align-items: center;
    }

    #nav-links { 
        align-items: center;
    }

    .closed #nav-links {
        transform: translateX(-2em);
    }

    #nav-links-spacer {
        width: 0em;
        height: 0em;
        display: none;
    }

    #link-container {
        width: 20.625em;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 450px) {
    .nav-initials-logo {
        visibility: hidden;
    }
}

@media only screen and (max-width: 350px), (max-height: 700px) {
    #nav-page {
        font-size: .7em;
    }
}

@media only screen and (max-width: 300px), (max-height: 600px) {
    #nav-page {
        font-size: .6em;
    }
}