@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

#nav-page {
    font-size: 1rem;
}

#nav-contents {
    position: fixed;
    z-index: 1001;
    display: flex;
    left: 7em;
    top: 7em;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 60vh;

    visibility: hidden;
    opacity: 0;
    transition: all .6s .2s;
}

#nav-contents.open {
    visibility: visible;
    opacity: 1.0;
    transition: opacity .6s 1s;
}

.nav-header {
    font-family: 'Racing Sans One';
    font-size: 5em;
    color: #FAFEFF;
    margin: 0;
}

.nav-bttn {
    position: relative;
    font-family: 'Racing Sans One';
    font-size: 3.75em;
    background-color: #FAFEFF;
    color: #E26E6E;
    border: none;
    outline: none;
    padding: .03em 0;
    border-radius: .15em;
    width: 5.5em;
}

.nav-bttn::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: inherit;
    font-size: inherit;
    background-color: #FCC28D;
    /*background-image: linear-gradient(-45deg, #FCC28D, #FAFEFF);*/
    border-radius: inherit;
    opacity: 0;
    transition: opacity .2s 0s;
}

.nav-bttn:hover::before {
    opacity: 1;
    transition: opacity .2s 0s;
    z-index: 1;
}

#nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.closed #nav-menu {
    transform: translateX(-2em);
    transition: transform .6s .2s;
}

.open #nav-menu {
    transform: translateX(0);
    transition: transform .6s 1s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closed #nav-links {
    transform: translateX(2em);
    transition: transform .6s .2s;
}
.open #nav-links {
    transform: translateX(0);
    transition: transform .6s 1s;
}

#nav-divider {
    height: inherit;
    width: .15em;
    background-color: #FAFEFF;
}

#nav-link-resume {
    text-align: center;
    pointer-events: none;
}

#link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#github-box {
    width: 3.3em;
    height: 3.3em;
    fill: #FAFEFF;
    font-size: 1.5rem;
}

#linkedin-box {
    width: 3.3em;
    height: 3.3em;
    fill: #FAFEFF;
    font-size: 1.5rem;
}

#nav-links-spacer {
    width: 3.3em;
    height: 3.3em;
    font-size: 1.5rem;
}