@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

#nav-page {
    font-size: 1rem;
}

#nav-contents {
    position: fixed;
    z-index: 1001;
    display: flex;
    left: 7em;
    top: 7em;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 60vh;

    visibility: hidden;
    opacity: 0;
    transition: all .6s .2s;
}

#nav-contents.open {
    visibility: visible;
    opacity: 1.0;
    transition: opacity .6s 1s;
}

.nav-back-button.layout {
    position: fixed;
    top: 2em;
    left: 1.25em;
    z-index: 1002;
}

.nav-initials-logo.layout {
    position: fixed;
    right: 1em;
    top: 1em;
    font-size: 1.5rem;
}

.nav-header {
    font-family: 'Racing Sans One';
    font-size: 5em;
    color: #FAFEFF;
    margin: 0;
}

.nav-menu-bttn-container {
    position: relative;
    width: 5.5em;
    height: fit-content;
    border-radius: .15em;
    padding: .03em 0;
    font-size: 3.75rem;
}

.nav-menu-bttn-container:hover {
    cursor: pointer;
}

.nav-menu-bttn {
    position: absolute;
    top: 0;
    background-color: #FAFEFF;
    width: inherit;
    height: 100%;
    border-radius: .15em;
    overflow: hidden;
}

.nav-menu-bttn-text {
    position: relative;
    display: block;
    font-family: 'Racing Sans One';
    text-align: center;
    color: #E26E6E;
    text-decoration: none;
}

.nav-bttn {
    position: relative;
    font-family: 'Racing Sans One';
    font-size: 3.75em;
    background-color: #FAFEFF;
    color: #E26E6E;
    border: none;
    outline: none;
    padding: .03em 0;
    border-radius: .15em;
    width: 5.5em;
}

.nav-menu-bttn::before {
    position: absolute;
    display: block;
    left: 100%;
    width: 5.5em;
    height: fit-content;
    border-radius: inherit;

    background-color: transparent;
    background-image: linear-gradient(-90deg, #FCC28D, #FAFEFF 95%);

    content: ".";
    color: transparent;

    opacity: 0;
    transition: opacity .3s 0s, left .6s 0s;
}

.nav-menu-bttn-container:hover .nav-menu-bttn::before {
    opacity: 1;
    left: 0;
}

#nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.closed #nav-menu {
    transform: translateX(-2em);
    transition: transform .6s .2s;
}

.open #nav-menu {
    transform: translateX(0);
    transition: transform .6s 1s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closed #nav-links {
    transform: translateX(2em);
    transition: transform .6s .2s;
}
.open #nav-links {
    transform: translateX(0);
    transition: transform .6s 1s;
}

#nav-divider {
    height: inherit;
    width: .15em;
    background-color: #FAFEFF;
}

#nav-link-resume {
    text-align: center;
    pointer-events: none;
}

#link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav-links-spacer {
    width: 3.3em;
    height: 3.3em;
    font-size: 1.5rem;
}