@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

.page-index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

.showcase-container.no-showcase .page-index-container {
    opacity: 0;
}

.showcase-container.showcase .page-index-container {
    opacity: 100;
    transform: translateY(0);
    transition: opacity .4s ease-out 2.5s, transform .4s ease-out 2.55s;
}

#page-caption {
    font-family: 'Racing Sans One';
    font-size: 1.2em;
    color: #FAFEFF;
    pointer-events: none;
    text-align: center;
    margin-top: .9em;
}

#index-list {
    list-style: none;
    text-align: center;
    font-size: 3rem;
    padding: 0;
    margin: -.5em 0;
    pointer-events: none;
}

.index-dot {
    display: inline-block;
    padding: 0 .165em;
    color: #FAFEFF;
    pointer-events: none;
    transition: color .2s 0s;
}

.index-dot.selected.calendex {
    color: #38CDA1;
}

.index-dot.selected.language {
    color: #9877B1;
}

.no-highlight {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}