/*1rem*/

#projects {
    height: fit-content;
    width: 100%;
    background-color: #22282E;
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-template-rows: 1fr;
    font-size: 1rem;
}

#projects-background {
    grid-area: 1 / 1 / 2 / 4;
}

#projects-content {
    grid-area: 1 / 2 / 2 / 3;
    height: 12em;
    justify-self: center;
    margin-top: 7.75em;
    z-index: 1;
}

.projects-triangle-container {
    position: relative;
}

.projects-triangle-container.bottom {
    transform: scaleY(-1);
}

.projects-triangle-box {
    display: inline-block;
    width: 50%;
    height: calc(50vw * .28854167);
}

.projects-triangle-box.top {
    transform: scaleY(-1);
}

.projects-triangle-box.top.right {
    transform: scaleY(-1) scaleX(-1); 
}

.projects-triangle-box.bottom {
    position: absolute;
    top: .375em;
}

.projects-triangle-box.bottom.left {
    left: 0%;
    transform: scaleX(-1);
}

.projects-triangle-box.bottom.right {
    left: 50%;
}

.projects-background-fill {
    fill: #1C1F23;
}

.center {
    margin: auto;
}

.dynamic-background {
    transition: fill .4s .6s;
}

#gallery-container {
    width: 100%;
    min-height: 39em;
    height: fit-content;
    padding: 1.5em 0;
    display: grid;

    background-color: #1C1F23;
    transition: background-color .4s .6s;
}

.dynamic-background.showcase {
    fill: #222E38;
    transition: fill 0s 2s;
    animation: fill-shift 1.2s linear .8s;
}

#gallery-container.showcase {
    background-color: #222E38;
    transition: background-color 0s 2s;
    animation: background-color-shift 1.2s linear .8s;
}

.projects-header {
    transition: text-shadow .4s .6s, background-color .4s .6s;
}

.projects-header.showcase {
    transition: text-shadow .4s 1.6s, background-color .4s 1.6s;
}

#gallery-box {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23.55em, 24em));
    row-gap: 1.5em;
    justify-content: center;
    align-content: center;

    transition: all .4s 1.2s;
}

#gallery-box * {
    justify-self: center;
}

#gallery-box.showcase {
    opacity: 0;
    transition: opacity .4s 0s;
}

@keyframes background-color-shift {
    0% {
        background-color: #1C1F23;
    }

    33%, 66% {
        background-color: #22282E;
    }

    100% {
        background-color: #222E38;
    }
}

@keyframes fill-shift {
    0% {
        fill: #1C1F23;
    }

    33%, 66% {
        fill: #22282E;
    }

    100% {
        fill: #222E38;
    }
}