/*- - - - gallery box - - - -*/
#gallery-box {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23.55em, 24em));
    row-gap: 1.5em;
    justify-content: center;
    align-content: center;
    max-height: fit-content;
}

#gallery-box * {
    justify-self: center;
}

#gallery-box.showcase {
    opacity: 0;
    transition: opacity .4s 0s;
}

#gallery-box.no-showcase {
    opacity: 100;
    transition: opacity .6s 1.7s;
}

#gallery-box.collapse {
    position: absolute;
}

@media only screen and (orientation: portrait) {
    #gallery-box {
        grid-area: 1 / 1 / 2 / 2;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1040px) {
    #gallery-box {
        grid-area: 1 / 1 / 2 / 4;
    }
}

@media only screen and (max-width: 400px) {
    #gallery-box {
        font-size: .75rem;
    }
}