.card-image {
    width: 15em;
    height: 10em;
    background-color: #22282E; 
    margin-bottom: .25em;
    border-radius: .625em;
    overflow: hidden;
    position: relative;
}

.card-image-cover {
    width: 102%;
    height: 102%;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 0.2s .2s;
    position: absolute;
}

.card-image-cover.display-cover {
    opacity: 5%;
    transition: opacity .2s 0s;
}

.desc-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
    top: 15%;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s 0s;
}

.desc-container {
}

.cover-desc {
    font-family: 'Roboto';
    font-size: .75em;
    color: #FAFEFF;
    margin-top: 1.5em;
}

.desc-container.display-cover {
    opacity: 100%;
    transition: opacity .2s .2s;
}

.learn-link {
    font-family: 'Roboto';
    font-size: .75em;
    width: fit-content;
    background-color: #FAFEFF;
    padding: .3em .5em;
    margin-bottom: 1.5em;
    border: none;
    border-radius: .25em;
    text-decoration: none;
}

/*----------------------THEMED ITEMS----------------------*/

/*- - - - borders - - - -*/
.web-border {
    border: .083em solid #1ABCFE;
}

.calendex-border {
    border: .083em solid #38CDA1;
}

/*- - - - covers - - - -*/
.web-cover {
    background-color: #1ABCFE;
}

.calendex-cover {
    background-color: #38CDA1;
}

/*- - - - links - - - -*/
.web-link {
    color: #222E38;
}

.calendex-link {
    color: #233034;
}
