.card-image-container {
    position: relative;
}

.card-image-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: .78125em;
    margin-bottom: .3125em;

    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    animation: border-draw 2s cubic-bezier(.59,.2,.16,.9) 1s;
    animation-fill-mode: forwards;
}

.card-image {
    width: 18.75em;
    height: 12.5em;
    background-color: #22282E; 
    border-radius: .78125em;
    overflow: hidden;
    margin-bottom: .3125em;
}

.card-image-cover {
    width: 102%;
    height: 102%;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 0.2s .2s;
    position: absolute;
}

.card-image-cover.display-cover {
    opacity: 5%;
    transition: opacity .2s 0s;
}

.desc-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
    top: 15%;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s 0s;
}

.cover-desc {
    font-family: 'Roboto';
    font-size: .9375em;
    color: #FAFEFF;
    margin-top: 1.5rem;
}

.desc-container.display-cover {
    opacity: 100%;
    transition: opacity .2s .2s;
}

.learn-link {
    font-family: 'Roboto';
    font-size: .9375em;
    width: fit-content;
    background-color: #FAFEFF;
    padding: .3rem .5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: .25rem;
    text-decoration: none;

    transition: background-color .2s;
}

.learn-link:hover {
    cursor: pointer;
}

@keyframes border-draw {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}

/*----------------------THEMED ITEMS----------------------*/

/*- - - - borders - - - -*/
.web-border {
    border: .125em solid #1ABCFE;
}

.calendex-border {
    border: .125em solid #38CDA1;
}

/*- - - - covers - - - -*/
.web-cover {
    background-color: #1ABCFE;
}

.calendex-cover {
    background-color: #38CDA1;
}

/*- - - - links - - - -*/
.web-link {
    color: #222E38;
}

.calendex-link {
    color: #233034;
}


/*- - - - links:hover - - - -*/
.web-link:hover {
    background-color: #1ABCFE;
}

.calendex-link:hover {
    background-color: #38CDA1;
}