/*----------------------CARD CONTAINER----------------------*/

.card-container {
    position: relative;
    height: fit-content;
    width: min(18.75em, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .78125em;

    background-color: #637280;
    padding: 0 .625em .3125em .625em;
}

.no-show .card-container {
    background-color: transparent;
    padding: 0;
}

.show-init .card-container {
    transition: background-color 0s 2.5s, padding .6s 2.5s;
}

/*----------------------HEADER----------------------*/

.header-box {
    display: flex;
    width: 97%;
    justify-content: space-between;
    align-content: flex-end;
    margin: .12em .25em;

    height: 1.575em;
    opacity: 100;
    transform: translateY(0);
}

.no-show .header-box {
    height: 0;
    opacity: 0;
    transform: translateY(100%);
}

.show-init .header-box {
    transition: opacity .2s 2.55s, transform .2s ease-out 2.55s, height .2s ease-out 2.55s;
}

.card-header {
    font-family: 'Racing Sans One';
    font-size: 1.25em;
    color: #FAFEFF;
    margin: 0;
}

/*----------------------LINKS----------------------*/

.link-box {
    display: flex;
    justify-content: flex-end;
    width: 97%;

    height: 1.5em;
    opacity: 100;
    transform: translateY(0);
}

.link-box * {
    margin: 0 .25em;
}

.no-show .link-box {
    height: 0;
    opacity: 0;
    transform: translateY(-3.5em);
}

.show-init .link-box {
    transition: opacity .2s 2.55s, transform .2s ease-out 2.55s, height .2s ease-out 2.55s;
}

/*----------------------ICONS----------------------*/

.card-icon {
    fill: #FAFEFF;
    margin: auto 0;
    margin-right: .2em
}

.platform-icon-sizer {
    height: 1.03125em;
}

.platform-icon-sizer.apple {
    width: .859375em;
}

.platform-icon-sizer.ux {
    width: 1.40625em;
}

/*----------------------TEXT SHADOW----------------------*/

.web-shadow {
    text-shadow: .0625em .0625em #1ABCFE;
}

.calendex-shadow {
    text-shadow: .0625em .0625em #38CDA1;
}

.language-shadow {
    text-shadow: .0625em .0625em #9877B1;
}

@media only screen and (max-width: 400px) {
    .card-container {
        font-size: .75rem;
    }
}
