#projects {
    height: fit-content;
    width: 100%;
    background-color: #22282E;
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-template-rows: 1fr;
    font-size: 1rem;
}

#projects-background {
    grid-area: 1 / 1 / 2 / 4;
}

#projects-content {
    grid-area: 1 / 2 / 2 / 3;
    height: fit-content;
    justify-self: center;
    margin-top: 3.5em;
    z-index: 1;
}

.projects-triangle-container {
    position: relative;
}

.projects-triangle-container.bottom {
    transform: scaleY(-1);
}

.projects-triangle-box {
    height: calc(50vw * .17708333);
    overflow: hidden;
    background-color: #1C1F23;
}

.projects-triangle-box.outer {
    display: inline-block;
    width: 50%;
    transform: scaleY(-1);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.projects-triangle-box.inner {
    position: absolute;
    width: 100%;
    top: .25em;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.projects-triangle-box.outer.right {
    transform: scaleY(-1) scaleX(-1); 
}

.center {
    margin: auto;
}

/*----------------------GALLERY----------------------*/

/*- - - - gallery container - - - -*/
#projects-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: calc(10em - calc(4vw * 2)) 0;
    background-color: #1C1F23;
}

#projects-content-grid {
    display: grid;
    width: 100%;
    height: fit-content;
    flex-basis: 33em;
}

#projects-content-grid.no-showcase {
    transition: flex-basis 1s .0s;
    flex-basis: 33em;
}

#projects-content-grid.in {
    transition: flex-basis .6s 0s !important; 
    flex-basis: 47em;
}

#projects-content-grid.showcase {
    flex-basis: 47em;
}

.gallery-swipe {
    overflow: hidden;
}

.gallery-swipe::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 140%;
    right: 0;
    content: ' ';

    background-image: linear-gradient(to left, #22282E 70%, #1C1F23 100%);
}

.gallery-swipe.showcase::before {
    left: -40%;
    transition: left .6s ease-in-out .3s;
}

.gallery-swipe.out::before {
    left: 140%;
}

.gallery-swipe::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 140%;
    content: ' ';
    background-color: transparent;
}

.gallery-swipe.calendex::after {
    background-image: linear-gradient(to right, #222E38 70% , #22282E 100%);
}

.gallery-swipe.language::after {
    background-image: linear-gradient(to right, #2E303B 70% , #22282E 100%);
}

.gallery-swipe.web::after {
    background-image: linear-gradient(to right, #232f39 70% , #22282E 100%);
}

.gallery-swipe.showcase::after {
    right: -40%;
    transition: right .6s ease-in-out 1.2s;
}

.gallery-swipe.out::after {
    right: 140%;
    transition: right .6s ease-in-out .7s;
}

.gallery-swipe.calendex.out::after {
    background-image: linear-gradient(to right, #222E38 70% , #1C1F23 100%);
}

.gallery-swipe.language.out::after {
    background-image: linear-gradient(to right, #2E303B 70% , #1C1F23 100%);
}

.gallery-swipe.web.out::after {
    background-image: linear-gradient(to right, #232f39 70% , #1C1F23 100%);
}

/*- - - - gallery container - - - -*/
#gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23.55em, 24em));
    row-gap: 1.5em;
    justify-content: center;
    align-content: center;
    max-height: fit-content;
}

#gallery-container * {
    justify-self: center;
}

#gallery-container.showcase {
    opacity: 0;
    transition: opacity .4s 0s;
}

#gallery-container.no-showcase {
    opacity: 100;
    transition: opacity .6s 1.7s;
}

#gallery-container.collapse {
    position: absolute;
}

#showcase-switcher {
    grid-area: 1 / 2 / 2 / 3;
}

/*----------------------ANIMATIONS----------------------*/

@keyframes background-color-shift {
    0% {
        background-color: #1C1F23;
    }

    33%, 66% {
        background-color: #22282E;
    }

    100% {
        background-color: #222E38;
    }
}

@keyframes fill-shift {
    0% {
        fill: #1C1F23;
    }

    33%, 66% {
        fill: #22282E;
    }

    100% {
        fill: #222E38;
    }
}

/*----------------------MEDIA QUERIES----------------------*/

@media only screen and (orientation: portrait) {
    #projects {
        grid-area: 3 / 1 / 4 / 2;
    }

    #projects-background {
        grid-area: 1 / 1 / 2 / 2;
    }

    #projects-content {
        grid-area: 1 / 1 / 2 / 2;
    }

    #showcase-switcher {
        grid-area: 1 / 1 / 2 / 2;
    }

    #projects-content-grid.in {
        flex-basis: 60.4375em;
    }

    #projects-content-grid.showcase {
        flex-basis: 60.4375em;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1450px) {
    #showcase-switcher {
        grid-area: 1 / 1 / 2 / 4;
    }

    .showcase #showcase-switcher {
        grid-area: 1 / 2 / 2 / 3;
    }
}


@media only screen and (orientation: landscape) and (max-width: 1040px) {
    #projects {
        grid-area: 3 / 1 / 4 / 4;
    }

    #projects-background {
        grid-area: 1 / 1 / 2 / 4;
    }

    #projects-content {
        grid-area: 1 / 1 / 2 / 4;
    }

    #showcase-switcher {
        grid-area: 1 / 1 / 2 / 4;
    }
}

@media only screen and (max-width: 1391px) {
    #projects-content-grid {
        flex-basis: 52.375em;
    }
}

@media only screen and (max-width: 767px) {
    #projects-content-grid {
        flex-basis: 106.25em;
    }
}

@media only screen and (max-width: 400px) {
    #showcase-switcher {
        font-size: .75rem;
    }

    #projects-content-grid {
        flex-basis: 79.625em;
    }
}
