#scroll-prompt-container {
    font-size: 1rem;

    opacity: 0;
}

#scroll-prompt-container.show-prompt.show-init {
    opacity: 100;
    transition: opacity .6s ease-out .9s
}

#scroll-prompt-text {
    font-family: 'Roboto';
    font-size: 1.05rem;
    color: #FAFEFF;
}

#scroll-chevron-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

#scroll-chevron {
    z-index: 1;
    animation: scroll-float 3s ease-in-out 0s infinite;
}

.scroll-chevron-box {
    width: 2.875em;
    height: 1.75em;
}

.scroll-chevron-layout {
    position: absolute;
}

.chevron-fill {
    fill: #FAFEFF;
}

.chevron-shadow-fill {
    fill: #E26E6E;
}

@keyframes scroll-float {
    0% {
        top: 0;
    }

    25% {
        top: .25em;
    }

    50% {
        top: 0;
    }
}