.showcase-layout {
    margin-top: 4em;
}

.showcase-gallery {
    display: flex;
    flex-direction: column;
}

.showcase-gallery-screen {
    display: flex;
}

/*----------------------SHOWCASE CHEVRON----------------------*/

.showcase-chevron {
    width: 2.875em;
    height: 1.75em;
}

.showcase-chevron-layout {
    margin: auto .75em;
    justify-self: center;
}

.showcase-chevron.left {
    transform: rotate(90deg);
}

.showcase-chevron.right {
    transform: rotate(-90deg);
}

.showcase-chevron-layout.left {
    transform: translateX(-.625em);
}

.showcase-chevron-layout.right {
    transform: translateX(.625em);
}

.showcase-container.no-showcase .showcase-chevron-layout {
    opacity: 0;
    transition: opacity .4s, transform 0s .4s;
}

.showcase-container.showcase .showcase-chevron-layout {
    opacity: 100;
    transform: translateX(0);
    transition: opacity .4s ease-out 3.4s, transform .4s ease-out 3.45s;
}

/*----------------------SHOWCASE BORDER----------------------*/

.showcase-border-container.ios {
    height: 26.3745em;
}

.showcase-border-container.web {
    height: 15em;
}

.showcase-border {
    position: relative;
    height: 0;
    border-radius: .625em; 
    overflow: hidden;
}

.showcase-border.ios {
    width: 12.1875em;
}

.showcase-border.web {
    width: 24em;
}

.showcase-border.calendex {
    border: 0 solid #38CDA1;
    background-color: #38CDA1;
}

.showcase-border.web {
    border: 0 solid #1ABCFE;
    background-color: #1ABCFE;
}

.showcase-container.no-showcase .showcase-border {
    opacity: 0;
    transition: opacity .4s, height 0s .4s, background-color 0s .4s, border-width 0s .4s;
}

.showcase-container.showcase .showcase-border {
    background-color: transparent;
    border-width: .125em;
    transition: height .8s ease-out 2.65s, background-color .4s ease-out 3.4s, border-width 0s ease-out 2.65s;
}

.showcase-container.showcase .showcase-border.ios {
    height: 26.3745em;
}

.showcase-container.showcase .showcase-border.web {
    height: 15em;
}

/*----------------------SHOWCASE IMAGE----------------------*/

.showcase-image-list {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
}

.showcase-container.no-showcase .showcase-image-list {
    opacity: 0;
    transition: opacity.4s;
}

.showcase-container.showcase .showcase-image-list {
    opacity: 100;
    transition: opacity .4s ease-out 3.4s, transform .4s ease-out;
}

.showcase-photo {
    object-fit: contain; 
    width: 12.1875em;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 350px) {
    #ios-showcase {
        font-size: .8rem;
    }
}