.showcase-layout {
    margin-top: 4em;
}

.showcase-gallery {
    display: flex;
    flex-direction: column;
}

.showcase-gallery-screen {
    display: flex;
}

/*----------------------SHOWCASE CHEVRON----------------------*/

.showcase-chevron {
    width: 2.875em;
    height: 1.75em;
}

.showcase-chevron-layout {
    margin: auto .75em;
    justify-self: center;
}

.showcase-chevron.left {
    transform: rotate(90deg);
}

.showcase-chevron.right {
    transform: rotate(-90deg);
}

.showcase-chevron-layout.left {
    transform: translateX(-.625em);
}

.showcase-chevron-layout.right {
    transform: translateX(.625em);
}

.showcase-container.no-showcase .showcase-chevron-layout {
    opacity: 0;
}

.showcase-container.showcase .showcase-chevron-layout {
    opacity: 100;
    transform: translateX(0);
    transition: opacity .4s ease-out 2.5s, transform .4s ease-out 2.55s;
}

/*----------------------SHOWCASE BORDER----------------------*/

.showcase-border-container.ios {
    height: 26.3745em;
}

.showcase-border-container.web {
    height: 15em;
}

.showcase-border {
   
    height: 0;
    overflow: hidden;
}

.showcase-border.ios {
    width: 12.1875em;
}

.showcase-border.web {
    width: 24em;
}

.showcase-border.calendex {
    background-color: #38CDA1;  
}

.showcase-border.language {
    background-color: #9877B1;  
}

.showcase-container.no-showcase .showcase-border {
    opacity: 0;
}

.showcase-container.showcase .showcase-border {
    background-color: transparent;
    transform: translateX(-.15625em) translateY(-.625em);
    transition: height .8s ease-out 1.75s, background-color .4s ease-out 2.5s, 
                transform .4s ease-out 2.5s, box-shadow .4s ease-out 2.5s;
}

.showcase-container.showcase .showcase-border.ios {
    height: 26.3745em;
}

.showcase-container.showcase .showcase-border.web {
    height: 15em;
}

.showcase-container.showcase .showcase-border.calendex {
    animation: border-fade-in-calendex 2.9s 0s forwards;
    box-shadow: .3125em .3125em #38CDA1;
}

.showcase-container.showcase .showcase-border.language {
    animation: border-fade-in-language 2.9s 0s forwards;
    box-shadow: .3125em .3125em #9877B1;
}

/*----------------------SHOWCASE IMAGE----------------------*/

.showcase-image-list {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
}

.showcase-container.no-showcase .showcase-image-list {
    opacity: 0;
    transition: opacity.4s;
}

.showcase-container.showcase .showcase-image-list {
    opacity: 100;
    transition: opacity .4s ease-out 2.5s, transform .4s ease-out;
}

.showcase-photo {
    object-fit: contain; 
    width: 12.1875em;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@keyframes border-fade-in-calendex {
    0%, 60.34% {
        border: 0em solid #38CDA1; 
    }

    60.35%, 89.47% {
        border: .3125em solid #38CDA1; 
        border-radius: 1.125em;
    }

    100% {
        border: .3125em solid #FAFEFF; 
        border-radius: 1.125em;
    }
}

@keyframes border-fade-in-language {
    0%, 60.34% {
        border: 0em solid #9877B1; 
    }

    60.35%, 89.47% {
        border: .3125em solid #9877B1; 
        border-radius: 1.125em;
    }

    100% {
        border: .3125em solid #FAFEFF; 
        border-radius: 1.125em;
    }
}

@media only screen and (max-width: 350px) {
    #ios-showcase {
        font-size: .8rem;
    }
}