/*1rem*/

@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

#site-header-container {
  font-size: 1rem;
}

#site-title {
  color: #FAFEFF;
  font-family: 'Racing Sans One';
  font-size: 4.3125rem;
  text-shadow: .1875rem .1875rem #E26E6E;
  margin: 0;
  padding-left: .9375rem;
  padding-right: .9375rem;
  pointer-events: none;
  text-align: center;
}

#header-underline {
  background-image: radial-gradient(circle at center, #FCC28D 0%, #E26E6E 50%);
  height: .125em;
  border: none;
  margin: 0;
  transform: skew(-12deg);
}

#skill-list {
  padding: 0;
  margin: 0;
  margin-top: .25em;
  text-align: center;
}

.skill-item {
  display: inline;
  color: #FAFEFF;
  font-family: 'Racing Sans One';
  pointer-events: none;
  font-size: .975rem;
}