@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

#site-header-container {
  font-size: 1rem;
  max-width: 85%;
}

#site-title {
  color: #FAFEFF;
  font-family: 'Racing Sans One';
  font-size: 4.3125em;
  text-shadow: calc(.1875em / 4.3125) calc(.1875em / 4.3125) #EE6363;
  margin: 0;
  padding-left: calc(.9375em / 4.3125);
  padding-right: calc(.9375em / 4.3125);
  pointer-events: none;
  text-align: center;

  opacity: 0;
  transform: translate(.0196em, .0196em);
}

.show-init #site-title {
  opacity: 100%;
  transform: translate(0, 0);
  transition: opacity .2s ease-out .5s, text-shadow .4s ease-out .55s, transform .4s ease-out .55s;
}

#header-underline {
  background-image: radial-gradient(circle at center, #FCC28D 0%, #EE6363 50%);
  height: .125em;
  border: none;
  margin: 0;
  transform: skew(-12deg);

  width: 0;
  transform: translateX(100%);
}

.show-init #header-underline {
  width: 100%;
  transform: translateX(0);
  transition: width .8s cubic-bezier(.82,0,.16,.96), transform .8s cubic-bezier(.82,0,.16,.96);
}

#skill-list {
  padding: 0;
  margin: 0;
  margin-top: .25em;
  text-align: center;

  opacity: 0;
}

.show-init #skill-list {
  opacity: 100;
  transition: opacity .4s ease-out .5s
}

.skill-item {
  display: inline;
  color: #FAFEFF;
  font-family: 'Racing Sans One';
  pointer-events: none;
  font-size: .975em;
}

@media only screen and (max-width: 500px) {
  #site-header-container {
    font-size: .75rem;
  }
}

@media only screen and (max-width: 350px) {
  #site-header-container {
    font-size: .55rem;
  }
}