@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

#site-title {
  color: #FAFEFF;
  font-family: 'Racing Sans One';
  font-size: 2.875em;
  text-shadow: 3px 3px #F58C8C;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  pointer-events: none;
}

#header-underline {
  background-color: #F58C8C;
  height: .0833em;
  border: none;
  margin: 0px;
  transform: skew(-12deg);
}

#skill-list {
  padding: 0;
  margin: 0;
}

.skill-item {
  display: inline;
  color: #FAFEFF;
  font-family: 'Racing Sans One';
  pointer-events: none;
  font-size: .65em;
}