/*1 rem*/

.small-link-box {
    width: 1.25em;
}

.small-link {
    fill: #FAFEFF;
    transition: fill .2s;
}

.small-link:hover {
    cursor: pointer;
}

.small-link:hover.web {
    fill: #1ABCFE;
}

.small-link:hover.calendex {
    fill: #38CDA1;
}