#master {
    font-size: 1.5rem;
}

#fixed-elements {
    position: relative;
    z-index: 999;
}

.skeleton {
    display: grid;
    grid-template-rows: min-content auto;
    width: 100%;
    font-size: 1.5rem;
}

.content-grid-template {
    grid-template-columns: 5em 1fr 5em;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #E26E6E;
    border-radius: 10px;
}

body {
    overflow: overlay;
}