#fixed-elements {
    position: relative;
    z-index: 999;
}

.main-initials-logo.layout {
    position: fixed;
    right: 1.5em;
    top: 1.5em;
} 

.skeleton {
    display: grid;
    grid-template-rows: min-content auto;
    width: 100%;
}

.content-grid-template {
    grid-template-columns: 7.5em 1fr 7.5em;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #E26E6E;
    border-radius: 10px;
}

body {
    overflow: overlay;
}

@media only screen and (orientation: portrait) {
    .content-grid-template {
        grid-template-columns: 1fr;
    }
}