.svg-button-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.svg-button-box:hover {
    cursor: pointer;
}

.svg-button {
    fill: #637280;
    transition: fill .2s ease-in-out 0s;
}

.svg-button.white {
    fill: #FAFEFF;
}

.svg-button-mover {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .2s ease-in-out 0s;
}

.click-animation {
    animation: svg-button-click .4s ease-out;
}

.click-animation * {
    fill: #FAFEFF;
}

.svg-button-box:hover .svg-button {
    fill: #FAFEFF;
    transition: fill .05s ease-in-out 0s;
}

.svg-button-box:hover .svg-button-mover {
    transform: translate(-.25em, -.0625em);
    transition: transform .2s ease-in-out 0s;
}

.svg-button-box.active .svg-button {
    fill: #FAFEFF;
    transition: fill .05s ease-in-out 0s;
}

.svg-button-box.active .svg-button-mover {
    transform: translate(-.25em, -.0625em);
    transition: transform .2s ease-in-out 0s;
}

.svg-button-shadow.brand {
    fill: #EE6363;
}

.svg-button-shadow.calendex {
    fill: #38CDA1;
}

.svg-button-shadow.language {
    fill: #9877B1;
}

.svg-button-shadow.web {
    fill: #1ABCFE;
}

.svg-button-shadow.github {
    fill: #A259FF;
}

.svg-button-shadow.appstore {
    fill: #2071F3;
}

.svg-button-shadow.linkedin {
    fill: #0077B7;
}

.svg-button-shadow.mail {
    fill: #EE6363;
} 

@keyframes svg-button-click {
    40% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-.25em, -.0625em);
    }
}