@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:mediumitalic');

.card-container {
    height: fit-content;
    background-color: #637280;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5em .375em .5em;
    border-radius: .625em;
    font-size: 1.25rem;
}

.web-container {
    width: 23em;
}

.ios-container {
    width: 10em;
}

.header-box {
    display: flex;
    width: 97%;
    justify-content: space-between;
    
    margin: .125em 0;
}

.card-header {
    font-family: 'Racing Sans One';
    font-size: 1em;
    color: #FAFEFF;
    margin: 0;
}

.card-image {
    background-color: #22282E; 
    margin-bottom: .25em;
    border-radius: .625em;
    overflow: hidden;
    position: relative;
}

.card-image-cover {
    width: 0%;
    height: 102%;
    top: 0%;
    transition: all 0.2s .2s;
    position: absolute;
}

.card-image-cover.right {
    right: 0; 
}

.card-image-cover.left {
    left: 0; 
}

.card-image-cover.display-cover {
    transform: skew(-15deg);
    transition: all .2s 0s;
}

.web-image .right.display-cover {
    right: -2.2em;
    width: calc(50.1% + 2.2em);
}

.web-image .left.display-cover {
    left: -2.2em;
    width: calc(50.1% + 2.2em);
}

.ios-image .right.display-cover {
    right: -9.079em;
    width: calc(50.3% + 9.079em);
}

.ios-image .left.display-cover {
    left: -9.079em;
    width: calc(50.3% + 9.079em);
}

.web-cover {
    background-color: #1ABCFE;
}

.calendex-cover {
    background-color: #38CDA1;
}

.web-image {
    width: 23em;
    height: 12.9375em;
}

.ios-image {
    width: 10em;
    height: 21.6642em;
}

.desc-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
    top: 15%;
    z-index: 1;
}

.desc-container * {
    opacity: 0;
    transition: opacity .2s 0s;
}

.cover-desc {
    font-family: 'Roboto';
    font-size: .75em;
    color: #FAFEFF;
    margin-top: 1.5em;
}

.desc-container .display-cover {
    opacity: 100;
    transition: opacity .2s .2s;
}

.learn-link {
    font-family: 'Roboto';
    font-size: .75em;
    width: fit-content;
    background-color: #FAFEFF;
    padding: .3em .5em;
    margin-bottom: 1.5em;
    border-radius: .25em;
    text-decoration: none;
}

.web-link {
    color: #1ABCFE;
}

.calendex-link {
    color: #38CDA1;
}

.link-box {
    display: flex;
    justify-content: flex-end;
    width: 97%;
}

.card-icon-container {
    margin-left: .42em;
}

.card-icon {
    fill: #FAFEFF;
}

.web-sizer {
    width: 1.71875em;
    height: .825em;
}

.apple-sizer {
    width: .6875em;
    height: .825em;
}

.git-sizer {
    width: 1em;
    height: .98275em;
}

.website-sizer {
    width: 1em;
    height: 1em;
}

.app-store-sizer {
    width: 1.02206em;
    height: .98275em;
}

.web-shadow {
    text-shadow: .042em .042em #1ABCFE;
}

.calendex-shadow {
    text-shadow: .042em .042em #38CDA1;
}

.web-border {
    border: .083em solid #1ABCFE;
}

.calendex-border {
    border: .083em solid #38CDA1;
}

